:root {
    --main-hue:30deg;
    --main-color-darkest: hsl(var(--main-hue) 80% 25%);
    --main-color-darker: hsl(var(--main-hue) 90% 40%);
    --main-color: hsl(var(--main-hue) 90% 50%);
    --main-color-lighter: hsl(var(--main-hue) 90% 80%);
    --main-color-lightest: hsl(var(--main-hue) 90% 98%);

    --alert-color: red;
    --alert-color-faded: #ffe5e5;

    --side-margin: 8vw;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
    height: 100%;
}
.hidden {
    display: none;
}
main {
    margin: 2vh 6vw;
    background: white;
}

button {
    position: relative;
    margin: 5px;
    padding: 4px 12px;
    background: white;
    color: var(--main-color-darkest);
    border: 1px solid var(--main-color-darker);
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    letter-spacing: 0.2px;
    box-shadow: 1px 1px 6px -2px var(--main-color-darkest);
}
button:hover {
    box-shadow: none;
    background: var(--main-color-lightest);
}

.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-header>* {
    margin: 2vh 1vw;
}

.main-content {
    margin: 1vh 1vw;
}


/* ---- HEADER ---- */

header {
    display: flex;
    align-items: center;
    background-color: hsl(var(--main-hue) 0% 95%);/*hsl(var(--main-hue) 65% 98%);*/
    color: white;
    box-shadow: 1px 1px 6px -3px var(--main-color-darkest);
}
header.admin:after {
     content: 'Admin';
     position: absolute;
     right: 40px;
     color: var(--main-color-darker);
     border-bottom: 2px solid var(--main-color-darker);
     font-size: 1rem;
 }
header.superAdmin:after {
     content: 'Super admin';
     position: relative;
     right: 40px;
     color: var(--main-color-darker);
     border-bottom: 2px solid var(--main-color-darker);
     font-size: 1rem;
 }

h1 {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 1vh 4vw;
    padding-right: 14px;
    background: var(--main-color-darkest);
    border-radius: 20px;
    font-family: monospace;
    font-variant-caps: petite-caps;
    letter-spacing: 4px;
}

h1:first-letter {
    font-size: 1.3em;
    border-radius: 20px 0 0 20px;
    background: var(--main-color);
    margin-right: 8px;
    padding: 0 4px 0 14px;
    vertical-align: sub;
}

h2 {
    color: var(--main-color-darker);
}


/* ---- ERRORS ---- */

.error-message p:before {
    content:"ERREUR : ";
}

.error-message {
    background: var(--alert-color-faded);
    color: red;
    border: 1px solid var(--alert-color);
    margin: 12px var(--side-margin);
    padding: 0 4vw;
}

/* ---- FORM ---- */
form {
    margin: 0; /*2vh 2vw;*/
}

.aria-disabled  input {
    border: none;
    color: hsl(calc(var(--main-hue) + 180deg) 50% 35%);
    background: none;
    font-size: 1rem;
}

.form-fields {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: flex-start;
    margin-bottom: 20px;
}

.form-field {
    display: flex;
    padding: 1vh 0;
    border-left: 2px solid lightgray;
}
/*todo en js : ajouter la classe focus sur le label quand on selectionne un input ou un textArea*/
.form-field.focused label, .form-field:hover label {
    border-bottom: 2px solid var(--main-color-lighter);
}
.form-label {
    width: 100px;
    margin: 0 2vw;
}
.form-value {
    margin-right: 2vw;
}
/* ---- specific ---- */
.userPseudoTag {
    text-decoration: hsl(calc(var(--main-hue) + 180deg) 50% 35%);
    color: hsl(calc(var(--main-hue) + 180deg) 50% 35%);
    /*color: white;
    background: var(--main-color);
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 0.8em;*/
    /* box-shadow: 0px 0px 12px 0px var(--main-color-darker);*/
}
